{% extends "base.html.twig" %}

{% block title %}Forecsat{% endblock %}

{% block body %}
    <h1>Forecast prediction</h1>
	{% for forecast in forecasts %}
        {{forecast}} <br>
    {% endfor %}

    {% if threshold %} Threshold is: {{threshold}} {% endif %}

    <nav>
        <a href="{{ path('app_weather_highlandersays', {threshold:25}) }}">Try Again!</a>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const route = "{{ url('app_weather_highlandersays')|escape('js') }}";
        console.log(route);
    </script>
{% endblock %}
